.recovery-result{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 36.5%;
    top: 25%;
    width: 500px;
    height: 360px;
    background-color: #FFFFFF;
    border-radius: 15px;

}

.info1{
    top: 50px;
    position: absolute;
    font-weight: 300;
    font-size: 150%;
    font-style: normal;
    text-align: center;
    left: 90px;
    width: 320px;
}

.recovery-button{
    background-color: #E0E9BA;
    border-radius: 15px;
    width: 400px;
    height: 50px;
    font-weight: 300;
    font-size: 150%;
    font-style: normal;
    top: 200px;
    position: absolute;
    left: 50px;

}