.imgw {
    position: absolute;
    width: 25%;
    top: 0.7%;
    left: 6.6%;
}

.imgm {
    position: absolute;
    width: 28%;
    left: 59.3%;
    top: 70%;
}

.game-creation-button{
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    border-width: 3px;
    width: 22.8%;
    height: 8.3%;
    left: 62.2%;
    top: 21.7%;
    background-color: #B7F46E;
    mix-blend-mode: normal;
    border-radius: 15px;
    border-top-width: 0;
    border-left-width: 0;
    border-color: #E0E9BA;
}

.game-creation-field {
    position: absolute;
    width: 22.8%;
    height: 29%;
    left: 62.2%;
    top: 38.2%;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.table-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 52.6%;
    height: 45.5%;
    left: 4.63%;
    top: 21.7%;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.checkbox-room {
    height: 10.7%;
    width: 10.7%;
    color: #BFBE56;
    border-radius: 0px;
    position: absolute;
    left: 35%;
    top: 12%;
}

.lable-text1 {
    position: absolute;
    left: 6%;
    font-family: Inter;
    font-style: normal;
    font-size: 150%;
    top: 15%;
}

.lable-text2 {
    position: absolute;
    left: 6%;
    font-family: Inter;
    font-style: normal;
    font-size: 150%;
    top: 35%;
}

.lable-text3 {
    position: absolute;
    left: 6%;
    font-family: Inter;
    font-style: normal;
    font-size: 150%;
    top: 55%;
}

.dictionaries{
    position: absolute;
    width: 94%;
    left: 3%;
    top: 70%;
    background-color: lightgray;
    border-radius: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 150%;

}

.number-players {
    position: absolute;
    width: 21.8%;
    height: 10.7%;
    left: 51.6%;
    top: 32.5%;
    border-color: #E0E9BA;
    border-radius: 5px;
    border-width: 1px;
    font-style: normal;
    font-weight: 300;
    font-size: 150%;
}

